{% extends "base.html" %}

{% block content %}
<h1>Historial de Conversaciones</h1>
<table class="table">
  <thead>
    <tr>
      <th>Fecha</th>
      <th>Mensaje</th>
      <th>Acción</th>
    </tr>
  </thead>
  <tbody>
    {% for convo in conversations %}
    <tr>
      <td>{{ convo.timestamp.strftime('%Y-%m-%d %H:%M') }}</td>
      <td>{{ convo.title }}</td>
      <td>
        <form action="{{ url_for('prompt') }}" method="get">
          <input type="hidden" name="conversation_id" value="{{ convo.id }}">
          <button type="submit" class="btn btn-primary btn-sm">Continuar</button>
        </form>
		<form action="{{ url_for('prompt') }}" method="get">
		  <input type="hidden" name="conversation_id" value="{{ convo.id }}">
		  <button type="submit" class="btn btn-danger btn-sm">Eliminar</button>
		</form>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
