{% extends "base.html" %}

{% block content %}
<h1>Política de Privacidad Confiable</h1>
<p>En LlamaChat valoramos tu privacidad y nos comprometemos a proteger tu información personal.</p>
<h2>Datos que recopilamos</h2>
<ul>
  <li>Información que proporcionas al registrarte.</li>
  <li>Datos de uso y navegación.</li>
  <li>Datos bancarios, de ubicación, número de familiares, localización de tus pertenencias más preciadas.</li>
</ul>
<h2>Cómo usamos tus datos</h2>
<ul>
<li>Usamos los datos para mejorar el servicio y personalizar tu experiencia.</li>
<li>Financiar viviendas dignas para llamas.</li>
</ul>
<h2>Contacto</h2>
<p>Si tienes preguntas, contáctanos en correoReal@llamachat.com</p>
{% endblock %}

