{% extends "base.html" %}

{% block custom_style %}
    <link href="/static/signin.css" rel="stylesheet">
{% endblock %}

{% block content %}
<main class="form-signin">
  <form method="POST" action="/signup">
    {{ form.hidden_tag() }}
    <h1 class="h3 mb-3 fw-normal">Please sign up</h1>

    <div class="form-floating">
      {{ form.email(class_="form-control", id="floatingEmail", placeholder="name@example.com") }}
      <label for="floatingEmail">Email address</label>
      {% for error in form.email.errors %}
        <div class="text-danger">{{ error }}</div>
      {% endfor %}
    </div>
    
    <div class="form-floating">
      {{ form.name(class_="form-control", id="floatingName", placeholder="Your Name") }}
      <label for="floatingName">Name</label>
      {% for error in form.name.errors %}
        <div class="text-danger">{{ error }}</div>
      {% endfor %}
    </div>
    
    <div class="form-floating">
      {{ form.password(class_="form-control", id="floatingPassword", placeholder="Password") }}
      <label for="floatingPassword">Password</label>
      {% for error in form.password.errors %}
        <div class="text-danger">{{ error }}</div>
      {% endfor %}
    </div>
    
    <div class="form-floating">
      {{ form.confirm_password(class_="form-control", id="floatingConfirmPassword", placeholder="Confirm Password") }}
      <label for="floatingConfirmPassword">Confirm Password</label>
      {% for error in form.confirm_password.errors %}
        <div class="text-danger">{{ error }}</div>
      {% endfor %}
    </div>
    
    <button class="w-100 btn btn-lg btn-primary mt-3" type="submit">Sign Up</button>
  </form>

  {% with messages = get_flashed_messages() %}
    {% if messages %}
      <div class="alert alert-danger mt-3">{{ messages[0] }}</div>
    {% endif %}
  {% endwith %}
</main>
{% endblock %}
